@model CourseWork.Infrastructure.Models.Item

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" name="item.Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" name="item.Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumericField1" class="control-label"></label>
                <input asp-for="NumericField1" name="item.NumericField1" class="form-control" />
                <span asp-validation-for="NumericField1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumericField2" class="control-label"></label>
                <input asp-for="NumericField2" name="item.NumericField2" class="form-control" />
                <span asp-validation-for="NumericField2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumericField3" class="control-label"></label>
                <input asp-for="NumericField3" name="item.NumericField3" class="form-control" />
                <span asp-validation-for="NumericField3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OneLineField1" class="control-label"></label>
                <input asp-for="OneLineField1" name="item.OneLineField1" class="form-control" />
                <span asp-validation-for="OneLineField1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OneLineField2" class="control-label"></label>
                <input asp-for="OneLineField2" name="item.OneLineField2" class="form-control" />
                <span asp-validation-for="OneLineField2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OneLineField3" class="control-label"></label>
                <input asp-for="OneLineField3" name="item.OneLineField3" class="form-control" />
                <span asp-validation-for="OneLineField3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextField1" class="control-label"></label>
                <input asp-for="TextField1" name="item.TextField1" class="form-control" />
                <span asp-validation-for="TextField1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextField2" class="control-label"></label>
                <input asp-for="TextField2" name="item.TextField2" class="form-control" />
                <span asp-validation-for="TextField2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextField3" class="control-label"></label>
                <input asp-for="TextField3" name="item.TextField3" class="form-control" />
                <span asp-validation-for="TextField3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date1" class="control-label"></label>
                <input asp-for="Date1" name="item.Date1" class="form-control" />
                <span asp-validation-for="Date1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date2" class="control-label"></label>
                <input asp-for="Date2" name="item.Date2" class="form-control" />
                <span asp-validation-for="Date2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date3" class="control-label"></label>
                <input asp-for="Date3" name="item.Date3" class="form-control" />
                <span asp-validation-for="Date3" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CheckBox1" name="item.CheckBox1" /> @Html.DisplayNameFor(model => model.CheckBox1)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CheckBox2" name="item.CheckBox2"/> @Html.DisplayNameFor(model => model.CheckBox2)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CheckBox3" name="item.CheckBox3" /> @Html.DisplayNameFor(model => model.CheckBox3)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
